*{
    margin: 0;
    padding: 0;
    /* background-color: aqua; */
}
.output{
    box-sizing: border-box;
    border: 2px solid black;
    padding-right: 12px;
    scroll-behavior: auto;
    /* display: none; */
}
.CodeMirror{
    border: 2px solid black;
}