.CodeMirror {
    border: 2px solid black;
}


#editor {
    position: relative;
    width: 100%;
    flex: 1;
    font-size: 24px;
    border: 1px solid black;
    border-radius: 5px;
}
#textarea-output{
    position: relative;
    background-color: grey;
    width: 100%;
    left: 0;
    top: 0;
    min-height: 10em;
    margin: 0;
    border: 1px solid gainsboro;
}
.spinner-border{
font-size: .5em;
width: 1rem;
height: 1rem;
}

.submit-btn {
    position: relative;
    float: right;
    margin: 20px;
}
