* {
    margin: 0;
    padding: 0;
    /* background-color: aqua; */
}

.CodeMirror {
    border: 2px solid black;
}

#id_code {
    position: relative;
    /* grid: 500px; */
    height: 500px;
    width: 900px;
    flex: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid black;
}

#editor {
    position: relative;
    /* grid: 500px; */
    height: 500px;
    width: 900px;
    flex: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid black;
}

.submit-btn {
    float: right;
    margin: 20px;
}

.chk_box {
    margin: 20px;
}

.output {
    box-sizing: border-box;
    width: 400px;
    height: 200px;
}