{% extends 'IDE/base.html' %} {%load static %} {% block content %}
<h2>New post</h2>
<form method="POST" id="ide-form">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    <div>
        Title : <input type="text" name="title" id="id_title" value="Untitled" required>
    </div>
    <div>
        <p>Code :</p>
        <div id="editor"></div>
        <textarea name="code" id="id_code" hidden>code</textarea>
        <div class="submit-btn">
            <button type="submit" class="btn btn-info" name="run" value="run">Run</button>
            <button type="submit" class="btn btn-success" name="submit" value="submit" onclick="setSubmit()">Submit</button>
        </div>
        <div class="chk_box">
            Custom input: <input type="checkbox" name="chk_input" id="chk_input" value="1" onchange="display()">
        </div>
        <div id="input" class="input" style="display: none;">
            <p>input :</p> <textarea name="input" id="id_input" cols="40" rows="5"></textarea>
        </div>
        <div class="output">
        </div>
</form>
<script src="{% static 'JS/index.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}